.story-line {
  margin: 2rem;
}

.my-page {
  border: 1px solid black;
}

.even-page {
  background-color: antiquewhite;
  color: #000;
}

.odd-page {
  background-color: #333;
  color: #FFF;
}

#outlineContainer, #statusContainer {
  display: none;
}

@keyframes move {
  from {
      background-position: 200% 0;
  }
  to {
      background-position: -200% 0;
  }
}

.gradient-move {
  background-size: 200% 100%;
  animation: move 10s linear infinite;
}