.story-line {
  margin: 2rem;
}

.my-page {
  border: 1px solid black;
  background-color: #FFF;
  background-image: url('paper-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

}

.even-page {
  background-color: antiquewhite;
  color: #000;
}

.odd-page {
  background-color: #333;
  color: #FFF;
}

#outlineContainer, #statusContainer, #book {
  display: none;
}

.mrm-purple {
  background-color: #9188FF;
}